body {
    margin: 0;
}

/* -------------------------------------- TOP BANNER -----------------------------------------*/
div.banner {
    background-color: #FFA500;
    margin: 0;
    color: white; 
}

h1.banner {
    text-align: left;
    margin: 0;
    padding: 15px;
    font-size: 32 px;
    font-family: Cambria;        
    color: white; 
}


